@using NTKServer.ViewModels.ReviewBorrow;
@model ReviewBorrowVm
@{
    var Filter = (ReviewBorrowFilter)@Model.filter;
	var lang = ViewBag.Lang;
}

<div class="card">
    <form asp-action="Index">
        <div class="card-body row">
			<div class="col-auto">
				<label class="control-label">@lang["public:mem_account"]</label>
				<input asp-for="@Filter.account" class="form-control" />
			</div>
			<div class="col-auto">
				<label class="control-label">@lang["public:mem_nickname"]</label>
				<input asp-for="@Filter.nickname" class="form-control" />
			</div>
			<div class="col-auto">
				<label class="control-label">@lang["pk"]</label>
				<input asp-for="@Filter.pk" class="form-control" />
			</div>
			<div class="col-auto">
				<label class="control-label">@lang["order_id"]</label>
				<input asp-for="@Filter.order_id" class="form-control" />
			</div>
			<div class="col-auto">
				<label class="control-label">@lang["borrow_type"]</label>
				<input asp-for="@Filter.borrow_type" class="form-control" />
			</div>

        </div>
        <div class="card-footer">
            <div class="form-group pull-right">
                <input type="submit" value="@lang["public:search"]" class="btn btn-primary pull-right" />
            </div>
        </div>
    </form>
</div>

<div class="scoll_table">
    <table class="table">
        <thead>
            <tr>
				<th>@lang["public:option"]</th>
				<th>@lang["public:mem_account"]</th>
				<th>@lang["public:mem_nickname"]</th>
				<th>@lang["pk"]</th>
				<th>@lang["order_id"]</th>
				<th>@lang["market"]</th>
				<th>@lang["borrow_type"]</th>
				<th>@lang["deposit_money"]</th>
				<th>@lang["borrow_money"]</th>
				<th>@lang["borrow_interest"]</th>
				<th>@lang["create_time"]</th>
				<th>@lang["begin_time"]</th>
				<th>@lang["end_time"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.list)
            {
                <tr>
					<td>
						@Html.ActionLink((string)@lang["public:review"], "Review", new { pk = item.pk }, new { @class = "btn btn-primary" })

					</td>
				<td>@Html.DisplayFor(modelItem => item.account)</td>
				<td>@Html.DisplayFor(modelItem => item.nickname)</td>
				<td>@Html.DisplayFor(modelItem => item.pk)</td>
				<td>@Html.DisplayFor(modelItem => item.order_id)</td>
				<td>@Html.DisplayFor(modelItem => item.market)</td>
				<td>@Html.DisplayFor(modelItem => item.borrow_type)</td>
				<td>@Html.DisplayFor(modelItem => item.deposit_money)</td>
				<td>@Html.DisplayFor(modelItem => item.borrow_money)</td>
				<td>@Html.DisplayFor(modelItem => item.borrow_interest)</td>
				<td>@Html.DisplayFor(modelItem => item.create_time)</td>
				<td>@Html.DisplayFor(modelItem => item.begin_time)</td>
				<td>@Html.DisplayFor(modelItem => item.end_time)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- 分頁處理 -->
<div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">

    @if (Model != null)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination mb-0">

                @Html.PagedListPager((IPagedList)Model.list, page => Url.Action("Index", new {Model.filter, page}),
            new X.PagedList.Web.Common.PagedListRenderOptions()
            {
				LiElementClasses = new string[] { "page-item" },
				PageClasses = new string[] { "page-link" },
				LinkToFirstPageFormat ="<<",
				LinkToPreviousPageFormat = "<",
				LinkToNextPageFormat = ">",
				LinkToLastPageFormat = ">>",

				MaximumPageNumbersToDisplay = 8
            })
            </ul>
        </nav>
    }

    <div class="fw-normal small mt-4 mt-lg-0">@lang["public:total_count"]: @Model.list.TotalItemCount </div>
</div>