@model Models.Dto.WalletTemplateDto
@{
    var lang = ViewBag.Lang;
}

<h4>@lang["public:title_edit"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostEdit">
			<div class="form-group">
				<label class="control-label">@lang["pk"]</label>
				<input asp-for="pk" readonly class="form-control" />
				<span asp-validation-for="pk" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["temp_id"]</label>
				<input asp-for="temp_id" class="form-control" />
				<span asp-validation-for="temp_id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["lang"]</label>
				<input asp-for="lang" class="form-control" />
				<span asp-validation-for="lang" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["name"]</label>
				<input asp-for="name" class="form-control" />
				<span asp-validation-for="name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["template"]</label>
				<input asp-for="template" class="form-control" />
				<span asp-validation-for="template" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["param"]</label>
				<input asp-for="param" class="form-control" />
				<span asp-validation-for="param" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["demo"]</label>
				<input asp-for="demo" class="form-control" />
				<span asp-validation-for="demo" class="text-danger"></span>
			</div>

            <div class="form-group">
                <input type="submit" value="@lang["public:save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@lang["public:back_list"]</a>
</div>

