@model NTKServer.ViewModels.BorrowAddmoney.BorrowAddmoneyReview
@{
    var lang = ViewBag.Lang;
}

<h4>@lang["public:review"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="PostReview" id="form1">
			<div class="form-group">
				<input asp-for="pk" name="pk" hidden />
				<label class="control-label">@lang["add_time"]</label>
				<input asp-for="add_time" class="form-control" readonly />
				<span asp-validation-for="add_time" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["sub_account"]</label>
				<input asp-for="sub_account" class="form-control" readonly />
				<span asp-validation-for="sub_account" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["money"]</label>
				<input asp-for="money" class="form-control" readonly />
				<span asp-validation-for="money" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["currency"]</label>
				<input asp-for="currency" class="form-control" readonly />
				<span asp-validation-for="currency" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["trade_status"]</label>
				<input asp-for="trade_status" class="form-control" readonly />
				<span asp-validation-for="trade_status" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["end_time"]</label>
				<input asp-for="end_time" class="form-control" readonly />
				<span asp-validation-for="end_time" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["market"]</label>
				<input asp-for="market" class="form-control" readonly />
				<span asp-validation-for="market" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["init_money"]</label>
				<input asp-for="init_money" class="form-control" readonly />
				<span asp-validation-for="init_money" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["balance"]</label>
				<input asp-for="balance" class="form-control" readonly />
				<span asp-validation-for="balance" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["warningline"]</label>
				<input asp-for="warningline" class="form-control" readonly />
				<span asp-validation-for="warningline" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["breakline"]</label>
				<input asp-for="breakline" class="form-control" readonly />
				<span asp-validation-for="breakline" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["loan_type"]</label>
				<input asp-for="loan_type" class="form-control" readonly />
				<span asp-validation-for="loan_type" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["member_fk"]</label>
				<input asp-for="member_fk" class="form-control" readonly />
				<span asp-validation-for="member_fk" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["account"]</label>
				<input asp-for="account" class="form-control" readonly />
				<span asp-validation-for="account" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["member_name"]</label>
				<input asp-for="member_name" class="form-control" readonly />
				<span asp-validation-for="member_name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["pk"]</label>
				<input asp-for="pk" class="form-control" readonly />
				<span asp-validation-for="pk" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["exchange"]</label>
				<input asp-for="exchange" class="form-control" readonly />
				<span asp-validation-for="exchange" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["freeze"]</label>
				<input asp-for="freeze" class="form-control" readonly />
				<span asp-validation-for="freeze" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["status"]</label>
				<input asp-for="status" class="form-control" readonly />
				<span asp-validation-for="status" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["verify_time"]</label>
				<input asp-for="verify_time" class="form-control" readonly />
				<span asp-validation-for="verify_time" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["target_uid"]</label>
				<input asp-for="target_uid" class="form-control" readonly />
				<span asp-validation-for="target_uid" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["target_name"]</label>
				<input asp-for="target_name" class="form-control" readonly />
				<span asp-validation-for="target_name" class="text-danger"></span>
			</div>

            <div class="form-group">
				<input id="result" name="result" hidden />
				<input type="button" value="@lang["public:approve"]" class="btn btn-primary" onclick="review(true);"   />
				<input type="button" value="@lang["public:reject"]" class="btn btn-secondary" onclick="review(false);"   />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@lang["public:back_list"]</a>
</div>

<script>
	function review(result) {
		$("#result").val(result);
		$("#form1").submit();
	}
</script>