@using NTKServer.ViewModels.Member;
@model MemberVm
@{
    var Filter = (MemberFilter)@Model.filter;
    var lang = ViewBag.Lang;
}

<div class="card">
    <form asp-action="Index">
        <div class="card-body row">
            <div class="col-auto">
                <label class="control-label">@lang["admin_user_fk"]</label>
                <input asp-for="@Filter.admin_user_fk" class="form-control" />
            </div>
            <div class="col-auto">
                <label class="control-label">@lang["pk"]</label>
                <input asp-for="@Filter.pk" class="form-control" />
            </div>
            <div class="col-auto">
                <label class="control-label">@lang["account"]</label>
                <input asp-for="@Filter.account" class="form-control" />
            </div>
            <div class="col-auto">
                <label class="control-label">@lang["nickname"]</label>
                <input asp-for="@Filter.nickname" class="form-control" />
            </div>
            <div class="col-auto">
                <label class="control-label">@lang["real_name"]</label>
                <input asp-for="@Filter.real_name" class="form-control" />
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group pull-right">
                <input type="submit" value="@lang["public:search"]" class="btn btn-primary pull-right" />
            </div>
        </div>
    </form>
</div>

<div class="scoll_table">
    <table class="table">
        <thead>
            <tr>
                <th>@lang["public:option"]</th>
                <th>@lang["admin_user_fk"]</th>
                <th>@lang["pk"]</th>
                <th>@lang["account"]</th>
                <th>@lang["nickname"]</th>
                <th>@lang["real_name"]</th>
                <th>@lang["lang"]</th>
                <th>@lang["recommend_id"]</th>
                <th>@lang["invitation_code"]</th>
                <th>@lang["last_login_time"]</th>
                <th>@lang["last_login_ip"]</th>
                <th>@lang["level_id"]</th>
                <th>@lang["remark"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.list)
            {
                <tr>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn icon btn-primary dropdown-toggle hide-arrow show" data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink((string)@lang["public:edit"], "Edit", new { pk = item.pk }, new { @class = "dropdown-item" })
                                @Html.ActionLink((string)@lang["sendmail"], "Create", "MessageRecord", new { member = item.pk }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </td>

                    <td>@Html.DisplayFor(modelItem => item.admin_user_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.pk)</td>
                    <td>@Html.DisplayFor(modelItem => item.account)</td>
                    <td>@Html.DisplayFor(modelItem => item.nickname)</td>
                    <td>@Html.DisplayFor(modelItem => item.real_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.lang)</td>
                    <td>@Html.DisplayFor(modelItem => item.recommend_id)</td>
                    <td>@Html.DisplayFor(modelItem => item.invitation_code)</td>
                    <td>@Html.DisplayFor(modelItem => item.last_login_time)</td>
                    <td>@Html.DisplayFor(modelItem => item.last_login_ip)</td>
                    <td>@Html.DisplayFor(modelItem => item.level_id)</td>
                    <td>@Html.DisplayFor(modelItem => item.remark)</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<!-- 分頁處理 -->
<div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">

    @if (Model != null)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination mb-0">

                @Html.PagedListPager((IPagedList)Model.list, page => Url.Action("Index", new {Model.filter, page}),
            new X.PagedList.Web.Common.PagedListRenderOptions()
            {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            LinkToFirstPageFormat ="<<",
            LinkToPreviousPageFormat = "<",
            LinkToNextPageFormat = ">",
            LinkToLastPageFormat = ">>",

            MaximumPageNumbersToDisplay = 8
            })
            </ul>
        </nav>
    }

    <div class="fw-normal small mt-4 mt-lg-0">@lang["public:total_count"]: @Model.list.TotalItemCount </div>
</div>