@using NTKServer.ViewModels.CmsSupport;
@model CmsSupportVm
@{
    var Filter = (CmsSupportFilter)@Model.filter;
	var lang = ViewBag.Lang;
}

<div class="card">
    <form asp-action="Index">
        <div class="card-body row">
			<div class="col-auto">
				<label class="control-label">@lang["lang"]</label>
				<select asp-for="@Filter.lang" asp-items="@(new SelectList(ViewBag.langDropdown, nameof(SelectListItem.Value), nameof(SelectListItem.Text)))" class="form-select">
                    <option value="">@lang["lang"]</option>
                </select>
			</div>

        </div>
        <div class="card-footer">
            <div class="form-group pull-right">
                <input type="submit" value="@lang["public:search"]" class="btn btn-primary pull-right" />
            </div>
        </div>
    </form>
</div>
@Html.ActionLink((string)@lang["public:append"], "Create", new {}, new { @class = "btn btn-primary"})
<div class="scoll_table">
    <table class="table">
        <thead>
            <tr>
                <th>@lang["public:option"]</th>
				<th>@lang["pk"]</th>
				<th>@lang["lang"]</th>
				<th>@lang["svc_phone"]</th>
				<th>@lang["svc_workday"]</th>
				<th>@lang["svc_nonworkday"]</th>
				<th>@lang["svc_email"]</th>
				<th>@lang["svc_link"]</th>
				
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.list)
            {
                <tr>
                    <td>
                    <div class="dropdown">
                        <button type="button" class="btn icon btn-primary dropdown-toggle hide-arrow show" data-bs-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							@Html.ActionLink((string)@lang["public:edit"], "Edit", new { pk = item.pk }, new { @class = "dropdown-item" })
							@{
                            string del = "return confirm('" + (string)@lang["public:confirm_delete"] + "')";
                        }
							@Html.ActionLink((string)@lang["public:delete"], "Delete", new { pk = item.pk }, new { @class = "dropdown-item", onclick = @del })

                        </div>
                    </div>
                    </td>
				<td>@Html.DisplayFor(modelItem => item.pk)</td>
				<td>@Html.DisplayFor(modelItem => item.lang)</td>
				<td>@Html.DisplayFor(modelItem => item.svc_phone)</td>
				<td>@Html.DisplayFor(modelItem => item.svc_workday)</td>
				<td>@Html.DisplayFor(modelItem => item.svc_nonworkday)</td>
				<td>@Html.DisplayFor(modelItem => item.svc_email)</td>
				<td>@Html.DisplayFor(modelItem => item.svc_link)</td>
					
                </tr>
            }
        </tbody>
    </table>
</div>

