@using NTKServer.ViewModels.UserTradeOrder;
@model UserTradeOrderVm
@{
    var Filter = (UserTradeOrderFilter)@Model.filter;
    var lang = ViewBag.Lang;
}

<div class="card">
    <form asp-action="Index">
        <div class="card-body row">
            <div class="col-auto">
                <label class="control-label">@lang["sn"]</label>
                <input asp-for="@Filter.sn" class="form-control" />
            </div>
            <div class="col-auto">
                <label class="control-label">@lang["stock_code"]</label>
                <input asp-for="@Filter.stock_code" class="form-control" />
            </div>
            <div class="col-auto">
                <label class="control-label">@lang["stock_name"]</label>
                <input asp-for="@Filter.stock_name" class="form-control" />
            </div>

        </div>
        <div class="card-footer">
            <div class="form-group pull-right">
                <input type="submit" value="@lang["public:search"]" class="btn btn-primary pull-right" />
            </div>
        </div>
    </form>
</div>

<a href="~/TradingAccount/Index" class="btn btn-primary">@lang["public:back_list"]</a>
<div class="scoll_table">
    <table class="table">
        <thead>
            <tr>
                <th>@lang["pk"]</th>
                <th>@lang["status"]</th>
                <th>@lang["sub_account"]</th>
                <th>@lang["order_time"]</th>
                <th>@lang["sn"]</th>
                <th>@lang["stock_code"]</th>
                <th>@lang["stock_name"]</th>
                <th>@lang["market"]</th>
                <th>@lang["dir"]</th>
                <th>@lang["order_type"]</th>
                <th>@lang["price_type"]</th>
                <th>@lang["price"]</th>
                <th>@lang["volume"]</th>
                <th>@lang["free_volume"]</th>
                <th>@lang["succeed_volume"]</th>
                <th>@lang["cancel_volume"]</th>

                <th>@lang["public:option"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.list)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.pk)</td>
                    <td>@Html.DisplayFor(modelItem => item.status)</td>
                    <td>@Html.DisplayFor(modelItem => item.sub_account)</td>
                    <td>@Html.DisplayFor(modelItem => item.order_time)</td>
                    <td>@Html.DisplayFor(modelItem => item.sn)</td>
                    <td>@Html.DisplayFor(modelItem => item.stock_code)</td>
                    <td>@Html.DisplayFor(modelItem => item.stock_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.market)</td>
                    <td>@Html.DisplayFor(modelItem => item.dir)</td>
                    <td>@Html.DisplayFor(modelItem => item.order_type)</td>
                    <td>@Html.DisplayFor(modelItem => item.price_type)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td>@Html.DisplayFor(modelItem => item.volume)</td>
                    <td>@Html.DisplayFor(modelItem => item.free_volume)</td>
                    <td>@Html.DisplayFor(modelItem => item.succeed_volume)</td>
                    <td>@Html.DisplayFor(modelItem => item.cancel_volume)</td>

                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>