@model Models.Dto.SysMarketDto
@{
    var lang = ViewBag.Lang;
}

<h4>@lang["public:title_edit"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostEdit">
			<div class="form-group">
				<label class="control-label">@lang["code"]</label>
				<input asp-for="code" readonly class="form-control" />
				<span asp-validation-for="code" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["currency"]</label>
				<input asp-for="currency" class="form-control" />
				<span asp-validation-for="currency" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="enable" type="checkbox" /> @lang["enable"]
				</label>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["name"]</label>
				<input asp-for="name" class="form-control" />
				<span asp-validation-for="name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["sort"]</label>
				<input asp-for="sort" class="form-control" />
				<span asp-validation-for="sort" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["buy_fee"]</label>
				<input asp-for="buy_fee" class="form-control" />
				<span asp-validation-for="buy_fee" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["sell_fee"]</label>
				<input asp-for="sell_fee" class="form-control" />
				<span asp-validation-for="sell_fee" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["min_buy_fee"]</label>
				<input asp-for="min_buy_fee" class="form-control" />
				<span asp-validation-for="min_buy_fee" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["min_sell_fee"]</label>
				<input asp-for="min_sell_fee" class="form-control" />
				<span asp-validation-for="min_sell_fee" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["default_stock_code"]</label>
				<input asp-for="default_stock_code" class="form-control" />
				<span asp-validation-for="default_stock_code" class="text-danger"></span>
			</div>

            <div class="form-group">
                <input type="submit" value="@lang["public:save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@lang["public:back_list"]</a>
</div>

