@model NTKServer.ViewModels.WalletRecharge.WalletRechargeReview
@{
    var lang = ViewBag.Lang;
}

<h4>@lang["public:review"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostReview" id="form1">
			<div class="form-group">
				<label class="control-label">@lang["create_time"]</label>
				<input asp-for="create_time" class="form-control" readonly />
				<span asp-validation-for="create_time" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["card"]</label>
				<input asp-for="card" class="form-control" readonly />
				<span asp-validation-for="card" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["bank_name"]</label>
				<input asp-for="bank_name" class="form-control" readonly />
				<span asp-validation-for="bank_name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["payee"]</label>
				<input asp-for="payee" class="form-control" readonly />
				<span asp-validation-for="payee" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["order_no"]</label>
				<input asp-for="order_no" class="form-control" readonly />
				<span asp-validation-for="order_no" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["line_bank"]</label>
				<input asp-for="line_bank" class="form-control" readonly />
				<span asp-validation-for="line_bank" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["pk"]</label>
				<input asp-for="pk" class="form-control" readonly />
				<span asp-validation-for="pk" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["type"]</label>
				<input asp-for="type" class="form-control" readonly />
				<span asp-validation-for="type" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["currency"]</label>
				<input asp-for="currency" class="form-control" readonly />
				<span asp-validation-for="currency" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["money"]</label>
				<input asp-for="money" class="form-control" readonly />
				<span asp-validation-for="money" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["exchange"]</label>
				<input asp-for="exchange" class="form-control" readonly />
				<span asp-validation-for="exchange" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["wallet_amount"]</label>
				<input asp-for="wallet_amount" class="form-control" readonly />
				<span asp-validation-for="wallet_amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["member_fk"]</label>
				<input asp-for="member_fk" class="form-control" readonly />
				<span asp-validation-for="member_fk" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["account"]</label>
				<input asp-for="account" class="form-control" readonly />
				<span asp-validation-for="account" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["nickname"]</label>
				<input asp-for="nickname" class="form-control" readonly />
				<span asp-validation-for="nickname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["create_ip"]</label>
				<input asp-for="create_ip" class="form-control" readonly />
				<span asp-validation-for="create_ip" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["form_name"]</label>
				<input asp-for="form_name" class="form-control" readonly />
				<span asp-validation-for="form_name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["reject_result"]</label>
				<input asp-for="reject_result" class="form-control" />
				<span asp-validation-for="reject_result" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["admin_user_fk"]</label>
				<input asp-for="admin_user_fk" class="form-control" readonly />
				<span asp-validation-for="admin_user_fk" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["id_auth"]</label>
				<input asp-for="id_auth" class="form-control" readonly />
				<span asp-validation-for="id_auth" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@lang["level_id"]</label>
				<input asp-for="level_id" class="form-control" readonly />
				<span asp-validation-for="level_id" class="text-danger"></span>
			</div>

            <div class="form-group">
				<input id="result" name="result" hidden />
				<input type="button" value="@lang["public:approve"]" class="btn btn-primary" onclick="review(true);"   />
				<input type="button" value="@lang["public:reject"]" class="btn btn-secondary" onclick="review(false,'@lang["reject_message"]');"   />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@lang["public:back_list"]</a>
</div>

<script>
	function review(result, message) {
		if (result == false && $("#reject_result").val() == '') {
			window.alert(message);
			return;
		}
		
		$("#result").val(result);
		$("#form1").submit();
	}
</script>